/** Universal Styles **/
html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

html, body {
    margin: 0;
    padding: 0;
  }

/** Header **/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 4rem;
}

.title span { 
  display: flex;
  align-items: center;
}

.title img {
  padding-left: 1.5rem;
  display: inline;
}

.colmar {
  font-size: 1.5rem;
  color: black;
  font-weight: bolder;
}

.academy {
  font-size: 1.5rem;
  color: grey;
}

header .nav {
  display: inline;
}

header ul {
  margin-right: 1.5rem;
}

header ul li {
  display: inline;
}

header nav li a {
  text-decoration: none;
  list-style: none;
  display: inline;
  padding-left: 1rem;
  color: black;
}

header nav li a:hover {
  color: rgb(199, 190, 190);
}

/** Section One **/
 #sectionone {
  position: relative;
  top: 4rem;
  background-color: lightgrey;
  display: flex;
 }

#sectionone img {
  width: 60%;
  margin: 2rem 1.5rem;
 }
 
 .para1 {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
 }

 .para1 h1 {
  display: block;
  margin-left: 1.5rem;
  color: rgb(70, 68, 68);
  font-size: 2.5rem;
  font-weight: 900;
 }

 .para1 p {
  margin-left: 1.5rem;
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(70, 68, 68);
  margin-top: 0;
  padding-top: 0;
 }

 .para1 button {
  width: 78%;
  margin-left: 1.5rem;
  background-color: rgb(70, 68, 68);
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  box-shadow: 2px 2px grey;
 }

 /** Section Two **/
 #sectiontwo {
  padding-top: 2rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
 }

.leftside {
  width: 60%;
  padding: 2rem 1.5rem;
}

.leftside img {
  padding-top: 2rem;
  width: 100%;
 }

 .leftside h2 {
  margin-bottom: 1.5rem;
  font-size: 2.7rem;
  color: rgb(53, 52, 52);
 }

 .leftside .bigsec {
  margin-top: 0;
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  color:  rgb(70, 68, 68);
 }

 .leftside .smallsec {
  color:  rgb(70, 68, 68);
  font-size: 1.2rem;
 }

 .side {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  border-left: 2px solid lightgrey;
 }

 .info-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid lightgrey;
 }

 .info-block img {
  width: 35%;
  height: auto;
  margin: 1rem;
 }

.info-block a {
  text-decoration: none;
}

.info-block:hover {
  background-color: lightgrey;
}

/** Section Three **/
#sectionthree {
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 4.5rem;
}

#sectionthree h1 {
  margin-bottom: 2rem;
}

.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.block .blockins {
  margin: 1rem;
  width: 26%;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
}

.block .blockins img {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.block .blockins .text2 {
  padding-left: 1rem;
}

.block .blockins .text2  h2{
  padding-top: 1rem;
  margin: 0;
}

.block .blockins .text2  h2 {
  margin: 0;
  padding-top: 0.5rem;
}
 
/** Footer **/
.title2 {
  text-align: center;
  margin: 2rem 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 0;
  border-bottom: 1px solid grey;
}

footer .info-left {
  width: 60%;
  padding: 0 1.5rem;
}

footer .info-left video {
  width: 100%;
}

.info-left h3 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.info-left p {
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: rgb(77, 75, 75);
}

footer .info-right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

footer .info-block2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

footer img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

footer .text4 {
  width: 65%;
}

footer .info-block2:hover {
  background-color: lightgrey;
}

/**Ending**/
#Ending {
  margin: 0;
  padding-top: 1rem;
  padding-left: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}

#Ending p {
  margin: 0;
  color: gray;
}

.terms {
  display: inline;
  list-style: none;
}

.terms ul {
  display: inline;
}

.terms ul li {
  display: inline;
  padding-right: 1rem;
  padding-top: 1rem;
  color: gray;
}

.terms a {
  text-decoration: none;
  display: inline;
  color: gray;
}